.todoform{
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 50 auto;
  margin-top: 10px;
}

.modernInput{
  border-radius: 5px;
  padding: 0px 0px 0px 15px;
  width: 100%;
  border: none;
  display: block;
  color: #b4b7be;
  font-size: 16px;
  background-color: #1f252e;
}

::placeholder {
  color: #63676f;
}

.modernInput:focus{
  outline: none;
}

.modernButton{
  font-weight: bold;
  display: inline-block;
  border: none;
  border-radius: 100%;
  background-color: #1f252e;
  margin-left: 5px;
  padding: 12px 16px; 
  color: white;
  cursor: pointer;
}

.modernButton:hover{
  background-color: #1a212c;
}

.inputContainer{
  display: flex;
}