.item{
  width: 500px;
  color: #b4b7be;
  font-size: 20px;
  margin: 0 auto;
  cursor: pointer;
}

.itemName{
  padding: 10px;
}

.line{
  border: 1px solid #4d869c19;
}

.deleteButton{
  float: right;
  padding: 12px 16px;
  font-weight: bold;
  border: none;
  background-color: #1f252e;
  color: white;
  margin-top: -5px;
  border-radius: 100%;
  cursor: pointer;
}

.deleteButton:hover{
  background-color: #1a212c;
}

.completed{
  text-decoration: line-through;
}